<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books App</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <!-- Custom CSS -->
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Books App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-success" type="button" id="logoutButton">Logout</button>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="d-flex justify-content-end my-3">
      <button id="fetchBooksButton" class="btn btn-primary me-3">Fetch Books</button>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        New Book
      </button>
    </div>

    <div id="booksTable">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New book</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="createBookForm">
              <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" id="title" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="author" class="form-label">Author:</label>
                <input type="text" id="author" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="publication_date" class="form-label">Publication Date:</label>
                <input type="date" id="publication_date" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea id="description" class="form-control" required></textarea>
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row mt-4">
      <div class="col-md-6">
        <h2>Book Details</h2>
        <div class="mb-3">
          <label for="bookId" class="form-label">Book ID:</label>
          <input type="text" id="bookId" class="form-control" required>
        </div>
        <button id="getBookButton" class="btn btn-primary">Get Book Details</button>
        <div id="bookDetails"></div>
      </div>
      <div class="col-md-6">
        <h2>Delete Book</h2>
        <div class="mb-3">
          <label for="deleteBookId" class="form-label">Book ID:</label>
          <input type="text" id="deleteBookId" class="form-control" required>
        </div>
        <button id="deleteBookButton" class="btn btn-danger">Delete Book</button>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <h2>User Books</h2>
        <div class="mb-3">
          <label for="userId" class="form-label">User ID:</label>
          <input type="text" id="userId" class="form-control" required>
        </div>
        <button id="getUserBooksButton" class="btn btn-primary">Get User Books</button>
        <ul id="userBooksList"></ul>
      </div>
    </div>
  </div> -->

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>

    <!-- Custom JavaScript -->
    <script src="main.js"></script>
</body>

</html>